body {
    background-color: #ffffff;
    font-family: 'Calibri', sans-serif; /*Helvetica*/
    max-width: 1080px;
    margin: auto;
    padding: 40px 10px 40px 10px;
}
li {
    display: block;
    list-style-type: none;
}
a:link {
    text-decoration: none;
    width: fit-content;
}

a:visited {
    text-decoration: none;
    width: fit-content;
}
